body{
    background-color: darkolivegreen;
    color: aliceblue;
    font-family: "Bitter", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button{
    background-color: crimson
    color(srgb rgb(238, 231, 231) rgb(226, 236, 226) rgb(233, 233, 241));
    font-family: "Bitter", serif;
}
.passo{
    display: none;
}
.passo.ativo{
    display: block;
}
main{
    text-align: center;
    max-width: 90%;
}
img{
    max-width: 90%;
}